@ranty:registry=http://nexus.awsnaranja.com:8081/repository/nx-npm-group/
init.author.name=Pipeline
init.author.email=pipeline@naranja.com
init.author.url=https://cmprod.naranja.com.ar/engineering
email=pipeline@naranaja.com
unsafe-perm=true